	@charset "utf-8";
	#dingdanfenlei {
		height: 42px;
		background: #F8F8F8;
		width: 100%;
		margin-bottom: 28px;
	}
	
	.ons {
		border-bottom: 2px solid #e74c3c;
	}
	
	#dingdanfenlei ul {
		padding-left: 14px;
	}
	
	#dingdanfenlei ul li {
		float: left;
		display: inline;
		min-width: 78px;
		font-size: 16px;
		text-align: center;
		line-height: 42px;
		margin-right: 22px;
		/*border-bottom: 2px solid transparent;*/
		color: #4A4A4A;
	}
	
	#dingdanfenlei .ons a {
		color: #e74c3c;
	}
	
	#dingdan_head {
		height: 44px;
		font-size: 14px;
		overflow: hidden;
	}
	
	#dingdan_head ul li {
		float: left;
		text-align: right;
		color: #4A4A4A;
	}
	
	#dingdan_head ul .dh_1 {
		width: 212px;
	}
	
	#dingdan_head ul .dh_2 {
		width: 270px;
	}
	
	#dingdan_head ul .dh_3 {
		width: 112px;
	}
	
	#dingdan_head ul .dh_4 {
		width: 128px;
	}
	
	#dingdan_head ul .dh_5 {
		width: 120px;
	}
	
	#dingdan_head ul .dh_6 {
		width: 143px;
	}
	
	.lists_head {
		height: 42px;
		width: 100%;
		background: #F8F8F8;
		line-height: 42px;
		color: #828282;
		font-size: 12px;
	}
	
	.lists_head span {
		margin-left: 30px;
	}
	
	.lists_head em {
		font-style: normal;
	}
	
	.lists_content table {
		border: 1px solid #F8F8F8;
		text-align: center;
	}
	
	.tupianw {
		width: 110px;
		position: relative;
	}
	
	.tu_p {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50px;
		height: 24px;
		background: url(../img/pack_bg.png) no-repeat;
		background-size: 100% 100%;
		border: none;
		color: #5D3E1C;
		line-height: 24px;
		padding-left: 0px;
		text-align: center;
	}
	
	.xinxi {
		width: 300px;
	}
	
	.jiage {
		width: 100px;
	}
	
	.shuliang {
		width: 110px;
	}
	
	.zhuangtai {
		width: 110px;
	}
	
	.yingfukuan {
		width: 140px;
	}
	
	.caozuo {
		width: 150px;
	}
	
	.caozuo dl {
		width: 90px;
		margin: auto;
	}
	
	.zhifud {
		width: 100%;
		text-align: center;
		line-height: 26px;
		height: 26px;
		background: #e74c3c;
		border-radius: 3px;
		margin-bottom: 7px;
		cursor: pointer;
		font-size: 14px;
		color: white;
	}
	
	#sheji {
		color: #BEBDBB;
	}
	
	.quxiaod {
		width: 90px;
		border: 1px solid #BEBDBB;
		line-height: 24px;
		border-radius: 3px;
		color: #828282;
		text-align: center;
		height: 24px;
		margin-bottom: 7px;
		cursor: pointer;
	}
	
	.xiangqingd {
		cursor: pointer;
	}
	
	.ui-dialog {
		display: none;
		width: 400px;
		position: absolute;
		left: 50%;
		margin-left: -200px;
		height: 225px;
		background: white;
		border-radius: 3px;
		z-index: 1000001;
	}
	
	.ui-dialog b {
		width: 16px;
		height: 16px;
		background: url(../img/del_u.png) no-repeat;
		background-size: 16px 16px;
		position: absolute;
		right: 15px;
		cursor: pointer;
		top: 15px;
	}
	
	.ui-dialog h2 {
		font-weight: normal;
		font-size: 22px;
		color: #5C5C5C;
		margin-top: 38px;
		text-align: center;
	}
	
	.ui-dialog h3 {
		font-weight: normal;
		font-size: 18px;
		color: #4A4A4A;
		width: 289px;
		line-height: 24px;
		margin: 0 auto;
		margin-top: 25px;
		text-align: center;
	}
	
	.ui-dialog .btns {
		text-align: center;
		margin-top: 34px;
	}
	
	.ui-dialog .btns span {
		display: inline-block;
		width: 138px;
		height: 38px;
		background: #e74c3c;
		border: 1px solid #e74c3c;
		line-height: 38px;
		text-align: center;
		font-size: 14px;
		color: white;
		border-radius: 3px;
		margin-right: 10px;
		cursor: pointer;
	}
	
	.ui-dialog .btns .gray {
		background: white;
		color: #828282;
		border: 1px solid #828282;
	}
	/*dingdanempty*/
	
	.dingdanempty {
		width: 100%;
		margin-top: 100px;
	}
	
	.dingdanempty dl {
		width: 100%;
		text-align: center;
		display: block;
	}
	
	.dingdanempty dl dt {
		width: 143px;
		margin: 0 auto;
		display: block;
	}
	
	.dingdanempty dl dd {
		font-size: 14px;
		color: #828282;
		margin-top: 34px;
	}
	.dingdanempty dl dd a{
		color: red;
	}
	